* {
    background-image: url('index.png');
}

.head {
    text-align: center;
}

.container {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.box {
    align-items: center;
    width: 160px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    text-align: center;
}

.mainbox {
    align-items: center;
    display: inherit;
    flex-direction: column;
}

a:link,
a:visited {
    border-radius: 30px;
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
}

a:hover {
    color: blue;
    background-color: goldenrod;
}

a:active {
    background-color: rgb(15, 108, 190);
}